@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* setting display to flex of all pages */
.login-page,
.reg-page,
.forgot-page {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

/* Color code for dark theme */
#dark {
  background-color: #333a40;
}

/* Navbar */
.navbar {
  z-index: 1;
  height: 70px;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
}

/* Input Divs in Dark Mode */
#dark .login-div,
#dark .reg-div,
#dark .forgot-pass-div {
  margin-top: 70px;
  border: 2px solid #59636d;
}
/* Input Divs */
.login-div,
.reg-div {
  margin-top: 70px;
  border: 2px solid #232a36;
  border-radius: 30px;
  width: 500px;
  height: 720px;
  position: relative;
}

/* Login , Register Heading in Dark Mode */
#dark .sign-in-here,
#dark .reg-hello,
#dark .forgot-div-heading {
  color: #96acc3;
}

/* Login Page heading */
.sign-in-here {
  text-align: center;
  margin-top: 130px;
  font-weight: 900;
}

/* Alert Response */
.login-alert, .register-alert {
  width: 95%;
  margin: auto;
  position: relative;
  text-align: center;
  top: 0px;
}

/* Register Page heading */
.reg-hello {
  text-align: center;
  margin-top: 70px;
  font-weight: 900;
}

/* theme button color in dark mode */
#dark .theme-mode {
  color: #c0c7ce;
}

#dark .theme-mode:hover {
  color: white;
}
/* Theme button */
.theme-mode {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 25px 25px;
  transition: 200ms ease-in-out;
}

.theme-mode:hover {
  color: #bdd0e4;
  transform: rotate(20deg);
}

/* Input fields inside Input Divs */
.login-input-fields,
.reg-input-fields {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.reg-input-fields {
  top: 55%;
}

/* SignIn and SignUp buttons */
.sign-btn,
.sign-up-btn {
  width: auto;
  position: relative;
  bottom: -250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-btn {
  bottom: 0;
}

#dark .btn:hover {
  background-color: #141618;
}
.btn {
  width: 40%;
}

/* Input fields in dark mode */
#dark .input-field input {
  background: #333a40;
  color: white;
}

#dark .input-field label {
  color: #7a8795;
}

.form-floating {
  position: relative;
  margin: auto;
  width: 80%;
  top: -30px;
}

#dark .form-control {
  border: 2px solid #59636d;
}

#dark .form-control:focus {
  border-color: #59636d;
  box-shadow: inset 0 1px 1px rgba(120, 133, 147, 0.075),
    0 0 8px rgb(90, 100, 110);
}
.form-control {
  border: 2px solid #232a36;
}
.form-control:focus {
  border-color: #424242;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(6, 5, 5);
}

/* Show password icon */
#dark .show-icon {
  color: #7a8795;
}

#dark .show-icon:hover {
  color: white;
}

.show-icon {
  cursor: pointer;
  position: absolute;
  bottom: 62px;
  right: 62px;
  transition: 300ms ease-in-out;
}

.show-icon:hover {
  color: #bdd0e4;
  font-size: larger;
}
/* Forgot Password */
.forgot-pass {
  position: absolute;
  bottom: 300px;
  right: 52px;
}

/* Register Div */
#dark .register {
  color: #6f7c88;
}

/* Register Alert */
.register-alert {
  top: 40px;
}
.register {
  color: #a2a2a2;
  position: relative;
  text-align: center;
  bottom: -350px;
}
/* register and sign and forgot pass links */
#dark .reg-here,
#dark .signIn,
#dark .forgot-pass {
  color: #adb3ba;
}

#dark .reg-here:hover,
#dark .signIn:hover,
#dark .forgot-pass:hover {
  color: #d6d6d6;
}
.reg-here,
.forgot-pass {
  color: #575757;
  transition: 220ms ease-in-out;
}

.reg-here:hover,
.signIn:hover,
.forgot-pass:hover {
  color: #263238;
  font-weight: 600;
}

/* SignIn Button */
.signIn {
  position: absolute;
  left: 220px;
  top: 20px;
  color: #575757;
  transition: 220ms ease-in-out;
}

/* Forgot Password Div */
.forgot-pass-div {
  border: 2px solid #232a36;
  border-radius: 30px;
  width: 500px;
  height: 300px;
}

/* Forgot password page big Heading */
.forgot-big-div {
  position: absolute;
  top: 150px;
}
/* .forgot-big-heading {
  display: block;
  position: absolute;
  top: 200px;
  left:28%
} */

/* Forgot Password Div Heading */
.forgot-div-heading {
  font-size: 1.5rem;
  position: relative;
  text-align: center;
  top: 60px;
}
/* forgot pass input */
.forgot-pass-input {
  margin-top: 130px;
}
/* Forgot Password Submit Button */
.forgot-pass-btn {
  margin-left: 30%;
}

/* Media queries for smaller devices */
@media (max-width: 500px) {
  .login-div,
  .reg-div {
    width: 380px;
    height: 620px;
  }

  .forgot-pass {
    bottom: 250px;
    right: 37px;
  }

  .register {
    bottom: -280px;
  }

  .reg-heading {
    position: relative;
    top: -30px;
  }

  .signIn {
    left: 160px;
  }

  .forgot-pass-div {
    width: 350px;
  }

  .forgot-pass-btn {
    margin-top: -50px;
  }
}

@media (max-width: 800px) {
  .forgot-big-heading {
    text-align: justify;
  }
}
